


venv/
.env
*__pycache__/*
*.pyc
.idea/
.vscode/
.DS_Store
*.log
*.png

### Outputs from training ###

# hydra outputs
outputs/ 

# WandB
*/wandb
/wandb/

# Mlflow
mlruns/

# artifacts/
artifacts/

# Memory Bank
/MEMORY
